{% extends "layout.html" %}
{% block content %}
<article class="media content-section"style="background-color:#ADD8E6" >
          <div class="media-body">
            <div class="article-metadata">
              <h4 style="color:black;">What is Twitter Sentimental Analysis?</h4>
                <p style="color:black;">Sentiment Analysis is a technique widely used in text mining. Twitter Sentiment Analysis, therefore means, using advanced text mining techniques to analyze the sentiment of the text (here, tweet) in the form of positive, negative and neutral.
                    It is also known as Opinion Mining, is primarily for analyzing conversations, opinions, and sharing of views (all in the form of tweets) for deciding business strategy, political analysis, and also for assessing public actions.</p>
            </div>
              <div class="container">
                  <div class="row">
<!--                      <div class="col-md-7">-->
              <h4 style="color:black;">What is sentimental analysis?</h4>
              <p style="color:black;">Sentiment analysis, also known as opinion mining or emotion AI, is the use of natural language processing, text analysis, computational linguistics, and biometrics to systematically identify, extract, quantify, and study affective states and subjective information.
                  Sentiment analysis is widely applied to voice of the customer materials such as reviews and survey responses, online and social media, and healthcare materials for applications that range from marketing to customer service to clinical medicine.</p>
                      </div>
                  <hr style="color:black;">
              </div>
              <div class="container">
                <div class="row">
<!--                    <div class="col-md-7">-->
                        <h4 style="color:black;">What is sentimental analysis in Twitter?</h4>
                         <p style="color:black;">Twitter is one of the most popular microblogging and social networking platforms where massive instant messages (i.e. tweets) are posted every day. Twitter sentiment analysis tackles the problem of analyzing users’ tweets in terms of thoughts, interests and opinions in a variety of contexts and domains.
                             Such analysis can be valuable for several researchers and applications that require understanding people views about a particular topic or event.
                         </p>
                  </div>
                </div>
              </div>
          </div>
        </article>
{% endblock content %}